


<html>
<head>
    
<title></title>
<link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>

<body>
<div class="header">
<h1 style="color: white;text-align: center ">Forum</h1>
</div>
<div class="content">
<form action="{{url_for('editcomment',post_id=post_id,comment_id=c.id)}}" method="POST">
            <textarea name="comment" rows="5" cols="30" placeholder="{{c.text}}"></textarea>
            <input type="submit" value="Comment">
        </form>
    </div>
<div class="footer">
<p style="color: white;text-align: center;">&copy; by shubham  All Rights are reserverd.</p>
</div>  
</body>
    
</html>